body,
code:before,
html,
p,
table {
    color: #ffffff;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.25;
    margin: 0;
    overflow: visible;
    padding: 0;
}
html {
    height: 100%;
}
.ios {
    -webkit-overflow-scrolling: touch;
    overflow: auto;
}
.ios body {
    overflow: auto;
    position: relative;
}
body {
    word-wrap: break-word;
    min-height: 100%;
}
body.placeholder:before {
    color: #555;
    content: attr(placeholder);
    font-style: italic;
}
ol,
ul {
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-top: 0;
}
table,
td {
    border: 1px dotted #000;
    empty-cells: show;
}
table td {
    min-width: 5px;
}
code {
    background: #f1f1f1;
    direction: ltr;
    display: block;
    margin: 0.25em 0;
    padding: 1em;
    text-align: left;
    white-space: pre;
}
blockquote {
    background: #fff7d9;
    border-left: 0.3em solid #f4e59f;
    margin: 0.25em 0;
    padding: 0.5em 0.5em 0.5em 0.75em;
}
blockquote cite {
    border-bottom: 1px solid #f4e59f;
    display: block;
    font-size: 1em;
    font-weight: 700;
    margin: 0 -0.5em 0.25em -0.75em;
    padding: 0 0.5em 0.15em 0.75em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}
div,
p {
    min-height: 1.25em;
}